@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans:
        "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

body {
    background: #f0f4ff;
}

header {
    background: #006cb1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

header img {
    width: 250px;
}

header h2 {
    color: white;
    font-size: 1.2rem;
    height: 70px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 25px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    gap: 20px;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input {
    padding: 10px 20px;
    border: 2px solid #006cb1;
    border-radius: 5px;
    width: 300px;
}

button {
    background: #006cb1;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    width: 300px;
    cursor: pointer;
}
